minimum-release-age=4320
# TODO: remove after 0.8.0 is old enough
minimum-release-age-exclude[]=@flue/runtime
# TODO: remove after 0.78.0 is old enough
minimum-release-age-exclude[]=@earendil-works/pi-coding-agent
minimum-release-age-exclude[]=@earendil-works/pi-agent-core
minimum-release-age-exclude[]=@earendil-works/pi-ai
minimum-release-age-exclude[]=@earendil-works/pi-tui
minimum-release-age-exclude[]=@mariozechner/clipboard
minimum-release-age-exclude[]=@mariozechner/clipboard-darwin-arm64
minimum-release-age-exclude[]=@mariozechner/clipboard-darwin-universal
minimum-release-age-exclude[]=@mariozechner/clipboard-darwin-x64
minimum-release-age-exclude[]=@mariozechner/clipboard-linux-arm64-gnu
minimum-release-age-exclude[]=@mariozechner/clipboard-linux-arm64-musl
minimum-release-age-exclude[]=@mariozechner/clipboard-linux-riscv64-gnu
minimum-release-age-exclude[]=@mariozechner/clipboard-linux-x64-gnu
minimum-release-age-exclude[]=@mariozechner/clipboard-linux-x64-musl
minimum-release-age-exclude[]=@mariozechner/clipboard-win32-arm64-msvc
minimum-release-age-exclude[]=@mariozechner/clipboard-win32-x64-msvc
